<div id="header-index" style="background-image: url('https://batterseapowerstation.co.uk/content/uploads/2022/08/Cinema-in-the-Power-Station-image001hero-1600x869.jpg')">
  <h1>Save any kind of movies</h1>
  <p>Top rated</p>
</div>
<div class="container">
<div class="row">
  <% @lists.each do |list| %>
    <div class="col-4">
      <div class="m-2 bg-warning text-center">
        <%= link_to list.name, list_path(list.id) %></p>
      </div>
    </div>
  <% end %>
</div>
</div>
