<nav class="navbar navbar-light bg-light p-3">
  <%= link_to root_path do %>
    <i class="fa-solid fa-clapperboard" style="color: #df076f;"></i>
  <% end %>
  <div>
    <%= link_to "My lists", root_path, class: "p-3" %>
    <%= link_to "New list", new_list_path %>
  </div>
</nav>
